@font-face {
    font-family: 'line-icons';
    src:url('../fonts/line-icons.eot?-j13yle');
    src:url('../fonts/line-icons.eot?#iefix-j13yle') format('embedded-opentype'),
    url('../fonts/line-icons.woff?-j13yle') format('woff'),
    url('../fonts/line-icons.ttf?-j13yle') format('truetype'),
    url('../fonts/line-icons.svg?-j13yle#line-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="line-ico-"], [class*=" line-ico-"] {
    font-family: 'line-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.line-ico-alert:before {
    content: "\62";
}
.line-ico-bomb:before {
    content: "\66";
}
.line-ico-clock:before {
    content: "\67";
}
.line-ico-undo:before {
    content: "\6e";
}
.line-ico-redo:before {
    content: "\6f";
}
.line-ico-previous:before {
    content: "\72";
}
.line-ico-next:before {
    content: "\73";
}
.line-ico-arrow-prev:before {
    content: "\74";
}
.line-ico-arrow-next:before {
    content: "\75";
}
.line-ico-danger:before {
    content: "\78";
}
.line-ico-current:before {
    content: "\7a";
}
.line-ico-thumb-up:before {
    content: "\35";
}
.line-ico-thumb-down:before {
    content: "\36";
}
.line-ico-badge:before {
    content: "\21";
}
.line-ico-alert-badge:before {
    content: "\2b";
}
.line-ico-three-stars:before {
    content: "\2c";
}
.line-ico-five-stars:before {
    content: "\2d";
}
.line-ico-commets:before {
    content: "\3e";
}
.line-ico-chit-chat:before {
    content: "\3f";
}
.line-ico-bubbles:before {
    content: "\5d";
}
.line-ico-message:before {
    content: "\60";
}
.line-ico-mobile-msg:before {
    content: "\7b";
}
.line-ico-mobile-comment:before {
    content: "\7c";
}
.line-ico-file:before {
    content: "\7d";
}
.line-ico-files:before {
    content: "\e005";
}
.line-ico-ribbon:before {
    content: "\e008";
}
.line-ico-plant:before {
    content: "\e011";
}
.line-ico-tree:before {
    content: "\e012";
}
.line-ico-plug:before {
    content: "\e01c";
}
.line-ico-education:before {
    content: "\e01f";
}
.line-ico-brain:before {
    content: "\e026";
}
.line-ico-globe:before {
    content: "\e02a";
}
.line-ico-user:before {
    content: "\e057";
}
.line-ico-pizza:before {
    content: "\e075";
}
.line-ico-burger:before {
    content: "\e07c";
}
.line-ico-coffee:before {
    content: "\e07d";
}
.line-ico-vector-path:before {
    content: "\e080";
}
.line-ico-paint:before {
    content: "\e082";
}
.line-ico-image:before {
    content: "\e084";
}
.line-ico-magic-wand:before {
    content: "\e08b";
}
.line-ico-art:before {
    content: "\e08c";
}
.line-ico-paint-brush:before {
    content: "\e091";
}
.line-ico-dropper:before {
    content: "\e092";
}
.line-ico-view:before {
    content: "\e093";
}
.line-ico-star-wand:before {
    content: "\e09c";
}
.line-ico-text:before {
    content: "\e09f";
}
.line-ico-help:before {
    content: "\e0a3";
}
.line-ico-doctor:before {
    content: "\e0a9";
}
.line-ico-microscope:before {
    content: "\e0ac";
}
.line-ico-ambulance:before {
    content: "\e0af";
}
.line-ico-imac:before {
    content: "\e0c4";
}
.line-ico-sound:before {
    content: "\e0c8";
}
.line-ico-monitor:before {
    content: "\e0cc";
}
.line-ico-disk:before {
    content: "\e0d3";
}
.line-ico-music:before {
    content: "\e0d4";
}
.line-ico-mobile:before {
    content: "\e0dd";
}
.line-ico-tablet:before {
    content: "\e0de";
}
.line-ico-ipad:before {
    content: "\e0df";
}
.line-ico-bug:before {
    content: "\e0ec";
}
.line-ico-pack:before {
    content: "\e183";
}
.line-ico-security:before {
    content: "\e184";
}
.line-ico-cart:before {
    content: "\e185";
}
.line-ico-digg:before {
    content: "\e190";
}
.line-ico-my-space:before {
    content: "\e191";
}
.line-ico-flickr:before {
    content: "\e192";
}
.line-ico-linkedin:before {
    content: "\e194";
}
.line-ico-twitter:before {
    content: "\e195";
}
.line-ico-twitter-bird:before {
    content: "\e196";
}
.line-ico-facebook:before {
    content: "\e197";
}
.line-ico-skype:before {
    content: "\e198";
}
.line-ico-evernote:before {
    content: "\e19b";
}
.line-ico-deviant-art:before {
    content: "\e19c";
}
.line-ico-picassa:before {
    content: "\e19d";
}
.line-ico-google-plus:before {
    content: "\e19f";
}
.line-ico-yahoo:before {
    content: "\e1a0";
}
.line-ico-redit:before {
    content: "\e1a1";
}
.line-ico-wiki:before {
    content: "\e1a2";
}
.line-ico-rss:before {
    content: "\e1a3";
}
.line-ico-blogger:before {
    content: "\e1a4";
}
.line-ico-tubmlr:before {
    content: "\e1a5";
}
.line-ico-pinterest:before {
    content: "\e1a6";
}
.line-ico-stumble:before {
    content: "\e1a7";
}
.line-ico-marker:before {
    content: "\e1a8";
}
.line-ico-instagram:before {
    content: "\e1a9";
}
.line-ico-vemio:before {
    content: "\e1aa";
}
.line-ico-youtube:before {
    content: "\e1ab";
}
.line-ico-basketball:before {
    content: "\e1b5";
}
.line-ico-org-chart:before {
    content: "\e1bf";
}
.line-ico-circle:before {
    content: "\e1c2";
}
.line-ico-pinch:before {
    content: "\e1c9";
}
.line-ico-finger-touch:before {
    content: "\e1cb";
}
.line-ico-touch:before {
    content: "\e1ce";
}
.line-ico-swipe-left:before {
    content: "\e1d5";
}
.line-ico-swipe-right:before {
    content: "\e1d6";
}
.line-ico-anchor:before {
    content: "\e1ed";
}
.line-ico-location:before {
    content: "\e1f0";
}
.line-ico-cycle:before {
    content: "\e1f4";
}
.line-ico-rainy:before {
    content: "\e1fb";
}
.line-ico-umbrella:before {
    content: "\e1fc";
}
.line-ico-briefcase:before {
    content: "\e0f4";
}
.line-ico-pin-it:before {
    content: "\e0f6";
}
.line-ico-clip-page:before {
    content: "\e0f8";
}
.line-ico-attachment:before {
    content: "\e0fb";
}
.line-ico-mouse:before {
    content: "\e0fc";
}
.line-ico-bar-chart:before {
    content: "\e101";
}
.line-ico-line-chart:before {
    content: "\e102";
}
.line-ico-image-page:before {
    content: "\e108";
}
.line-ico-pie-chart:before {
    content: "\e109";
}
.line-ico-clock-o:before {
    content: "\e10a";
}
.line-ico-camera:before {
    content: "\e111";
}
.line-ico-uniE11C:before {
    content: "\e11c";
}
.line-ico-uniE11D:before {
    content: "\e11d";
}
.line-ico-home:before {
    content: "\e121";
}
.line-ico-question:before {
    content: "\e124";
}
.line-ico-tick:before {
    content: "\e125";
}
.line-ico-cross:before {
    content: "\e126";
}
.line-ico-folder:before {
    content: "\e129";
}
.line-ico-edit:before {
    content: "\e12a";
}
.line-ico-trash:before {
    content: "\e12b";
}
.line-ico-cake:before {
    content: "\e130";
}
.line-ico-ballon:before {
    content: "\e131";
}
.line-ico-disk-player:before {
    content: "\e136";
}
.line-ico-client:before {
    content: "\e13d";
}
.line-ico-workstation:before {
    content: "\e13e";
}
.line-ico-delivered:before {
    content: "\e14a";
}
.line-ico-graph-board:before {
    content: "\e14f";
}
.line-ico-lock:before {
    content: "\e153";
}
.line-ico-eye-view:before {
    content: "\e155";
}
.line-ico-support:before {
    content: "\e159";
}
.line-ico-mobile-notify:before {
    content: "\e15f";
}
.line-ico-mobile-alert:before {
    content: "\e160";
}
.line-ico-phone:before {
    content: "\e161";
}
.line-ico-voice:before {
    content: "\e162";
}
.line-ico-code:before {
    content: "\e163";
}
.line-ico-mobile-pc:before {
    content: "\e165";
}
.line-ico-settings:before {
    content: "\e166";
}
.line-ico-home-location:before {
    content: "\e167";
}
.line-ico-calendar:before {
    content: "\e169";
}
.line-ico-map-marker:before {
    content: "\e16c";
}
.line-ico-money:before {
    content: "\e170";
}
.line-ico-target:before {
    content: "\e174";
}
.line-ico-wallet:before {
    content: "\e177";
}
.line-ico-tag:before {
    content: "\e17d";
}
.line-ico-t-shirt:before {
    content: "\e17f";
}
.line-ico-bag:before {
    content: "\e182";
}
